<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669558761572-25lkmnlqpccj6cqotpihaig6eh9hp6nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669558761572-25lkmnlqpccj6cqotpihaig6eh9hp6nm</string>
	<key>API_KEY</key>
	<string>AIzaSyBP3LEvsEjS9j7ipd5Yn2H_1MCW3qRol1M</string>
	<key>GCM_SENDER_ID</key>
	<string>669558761572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>missme-a318f</string>
	<key>STORAGE_BUCKET</key>
	<string>missme-a318f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669558761572:ios:615a2854dfb0abda9a1771</string>
</dict>
</plist>